$white: #FFFFFF
$black: #000000
$midtone: #777777 // Background on Navbar & Footer
$highlight: $white // Callout Background
$shadow: $black // Text & Navbar

$error: #cc0000

// Transparencies
$semiTransparent: rgba(0, 0, 0, 0.5)
$quarterTransparent: rgba(0, 0, 0, 0.25)
$greyTransparency: rgba(0,0,0,0.2)
