/*~~~~~~~  Grid  ~~~~~~~*/

.overlay
	/*Full-page overlay in order to cover up the body's background image*/
	/*and give this page a white background.*/
	/*100% height and width div.*/
	height: 100%
	width: 100%
	/*Fixed at the top left of the screen.*/
	position: fixed
	top: 0
	left: 0
	/*With the white background*/
	background-color: $white
	/*z-index of minus 1 to make sure that it sits behind all the content.*/
	z-index: -1

.messageContainer
	z-index: 9999

[class^="container"]
	margin: 1rem auto 1rem auto
	@include respond(desktop)
		margin: 164px auto 1rem auto
	width: 80%
	> hr
		margin-top: 1.2rem
		margin-bottom: 1.2rem

/*===== END  Grid  =====*/
