{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}Bag{% endblock %}
{% block page_header %}
	<div class="headerContainer">
		
	</div>
{% endblock %}

{% block content %}
	<div class="overlay"></div>
	<div class="containerBag">
		<hr>
		<h2 class="bagTitle">Shopping Bag</h2>
		{% if bag_toast %}
			<!-- Bag Toast is :  {{ bag_toast }} -->
		{% else %}
			<!-- NO bag toast -->
		{% endif %}
		<hr>
		<div class="bagItems">
			{% if bag_items %}
				<div class="tableRoundedResponsive">
					<table class="tableBag">
						<thead>
							<th scope="col">Product Info</th>
							<th scope="col"></th>
							<th scope="col">Price</th>
							<th scope="col">Quantity</th>
							<th scope="col">Subtotal</th>
						</thead>
						<tbody>
							{% for item in bag_items %}
								<tr>
									<td>
						 				{% if item.product.image %}
						 					<img class="bagImage" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
						 				{% else %}
						 					<img class="bagImage" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
						 				{% endif %}
									</td>
									<td>
										<p><strong>{{ item.product.name }}</strong></p>
										<p><strong>Size :  {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</strong></p>
										<p class="small">SKU :  {{ item.product.sku|upper }}</p>
									</td>
									<td>
										<p>€{{ item.product.price }}</p>
									</td>
									<td>
										<form method="POST" action="{% url 'adjustBag' item.product_id %}" class="updateForm">
											{% csrf_token %}
												<div class="productQuantityInput">
													<button class="decrementQty" 
														data-productID="{{ item.product_id }}" id="decrementQty{{ item.product_id }}">
														<span>
															<i class="fas fa-minus fa-sm"></i>
														</span>
													</button>
													<input type="number" name="quantity" value="{{ item.quantity }}" 
														min="1" max="99" 
														data-productID="{{ item.product_id }}" id="idQty{{ item.product_id }}" 
														class="quantityBox inputSmall">
													<button class="incrementQty" 
														data-productID="{{ item.product_id }}" id="incrementQty{{ item.product_id }}">
														<span>
															<i class="fas fa-plus fa-sm"></i>
														</span>
													</button>
												</div>
												{% if item.product.has_sizes %}
													<input type="hidden" name="productSize" value="{{ item.size }}">
												{% endif %}
										</form>
										<!-- Rather than add a submit button. Let's keep the visual impact minimal.
										Just use a simple link and handle its click event with JavaScript. -->
										<!-- One for updating the quantity which will submit the form. -->
										<div class="editLinks">
											<a class="updateLink"><small>Update</small></a>
											<!-- And the other for removing the item from the bag entirely. -->
											<!-- Has a data attribute similar to the data item ID attributes on the buttons,
											which will be used to discern which specific item the customer wants to remove
											if there are multiple sizes of this item in the bag -->
											<a class="removeLink" id="remove{{item.product_id}}" data-productSize="{{ item.size }}"><small>Remove</small></a>
										</div>
									</td>
									<td>
										<p>€{{ item.product.price | calculate_subtotal:item.quantity }}</p>
									</td>
								</tr>
							{% endfor %}
							<tr class="tableBagTotals">
								<td colspan="5">
									<h5><strong>Bag Total :  €{{ grand_total|floatformat:2 }}</strong></h5>
									<h6>Delivery :  €{{ delivery|floatformat:2 }}</h6>
									<h4><strong>Grand Total :  €{{ grand_total|floatformat:2 }}</strong></h4>
									{% if free_delivery_delta > 0 %}
										<p>
											You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
										</p>
									{% endif %}
								</td>
							</tr>
							<tr class="tableBagTotals">
								<td colspan="5" >
									<a href="{% url 'products' %}" class="btnShopping">
										<span class="icon">
											<i class="fas fa-chevron-left"></i>
										</span>
										Keep Shopping
									</a>
									<a href="{% url 'checkout' %}" class="btnShoppingInverse">
										Secure Checkout
										<span class="icon">
											<i class="fas fa-lock"></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			{% else %}
				<p>Your bag is empty.</p>
				<a href="{% url 'products' %}" class="keepShoppingButton">
					<span class="icon">
						<i class="fas fa-chevron-left"></i>
					</span>
					Keep Shopping
				</a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block postloadjs %}
	{{ block.super }}
	<script src="{% static 'js/quantity-input.js' %}"></script>
	<script src="{% static 'js/edit-quantity.js' %}"></script>
{% endblock %}