/*~~~~~~~  Dropdown Menu  ~~~~~~~*/

/* HTML Nav Styles */
/* HTML Nav Styles */
/* HTML Nav Styles */
menuitem
	position: relative
	display: block
	opacity: 0
	cursor: pointer

	& > menu
		position: absolute
		pointer-events: none

menu
	display: flex
	flex-direction: column

	&.topMenu
		flex-direction: row
		& > menuitem > a
			padding-left: 0

	& > menuitem
		pointer-events: all
		opacity: 1

	& menuitem a
		white-space: nowrap
		display: block
   
menuitem:hover > menu
	pointer-events: initial

	& > menuitem, menu:hover > menuitem
		opacity: 1

menu > menuitem menuitem menu
	transform: translateX(100%)
	top: 0
	right: 0

/* User Styles Below Not Required */
/* User Styles Below Not Required */
/* User Styles Below Not Required */


menu a
	background: $white
	color: $black
	min-width: 9rem
	transition: background 0.5s, color 0.5s, transform 0.5s
	margin: 0
	text-align: left
	padding-left: 1.5rem
	padding-top: .5rem
	padding-bottom: .5rem
	padding-right: 1rem
	border-radius: 3px
	position: relative


menu a:hover:before
	content:  ''
	top: 0
	left: 0
	position: absolute
	background: rgba(0, 0, 0, 0.2)
	width: 100%
	height: 100%


menu > menuitem > a + menu:after
	content:  ''
	position: absolute
	border: 10px solid transparent
	border-top: 10px solid white
	left: 12px
	top: -27px
	@include respond(desktop)
		top: -40px

.navigationList menu > menuitem > a + menu:after
	top: 6px
	@include respond(desktop)
		top: -40px

menuitem > menu > menuitem > a + menu:after 
	content:  ''
	position: absolute
	border: 10px solid transparent
	border-left: 10px solid white
	top:  20px
	left: -180px
	transition: opacity 0.6, transform 0s

.navigationList menu > menuitem > menu
	margin-top: -4rem
	@include respond(desktop)
		margin-top: 0

menu > menuitem > menu > menuitem
	transition: transform 0.6s, opacity 0.6s
	transform: translateY(150%)
	opacity: 0

menu > menuitem:hover > menu > menuitem,
menu > menuitem.hover > menu > menuitem
	transform: translateY(0%)
	opacity:  1

.navigationList menu > menuitem:hover > menu > menuitem,
.navigationList menu > menuitem.hover > menu > menuitem
	/*For a vertical menu (mobile) - move to the right of the menu list*/
	transform: translateX(12.5rem)
	@include respond(desktop)
		/*Desktop is a horizontal menu - so do not shift to the right*/
		transform: translateX(0%)


menuitem > menu > menuitem > menu > menuitem
	transition: transform 0.6s, opacity 0.6s
	transform: translateX(195px) translateY(0%)
	opacity: 0
 
menuitem > menu > menuitem:hover > menu > menuitem,  
menuitem > menu > menuitem.hover > menu > menuitem  
	transform: translateX(0) translateY(0%)
	opacity: 1

/*===== END Dropdown Menu   =====*/
