/*~~~~~~~  Form  ~~~~~~~*/
.updateForm
	width: 20rem
	.quantityBox
		width: 15rem
		font-size: 1rem
		height: calc(1.5em + 0.5rem + 2px)
		padding: 0.25rem 0.5rem
		line-height: 1.5

// .productQuantityInput
// 	min-width: 18rem


/*===== END  Form  =====*/
