/*~~~~~~~  Form  ~~~~~~~*/
.updateForm
	width: 20rem
	.quantityBox
		width: 15rem
		font-size: 1rem
		height: calc(1.5em + 0.5rem + 2px)
		padding: 0.25rem 0.5rem
		line-height: 1.5

// .productQuantityInput
// 	min-width: 18rem
#paymentForm
	fieldset
		padding: 0 1.3rem
		margin-bottom: 4rem
		border: none

	fieldset:last-child > div
		margin-bottom: 1.3rem

	.fieldsetLabel
		position: relative
		right: .7rem
		font-size: 80%
		padding: 0 1.3rem


	.formCheck
		display: flex
		justify-content: flex-end

		&Label
			margin-bottom: 0
			font-size: 1.3rem
			a
				color: $lightBlue

select
	&, & option
		color: $black

	&:invalid, & option[value=""]
		color: $greyInvalid

.borderBlack
	border: 1px solid $black
	border-radius: 0
			
/*===== END  Form  =====*/
