.toast
	min-width: 250px
	max-width: 350px
	background-color: $ghost
	color: #333
	text-align: center
	border-radius: 2px
	position: fixed
	z-index: 1
	top: 6rem
	right: 1.5rem
	font-size: 17px
	//overflow: visible

	button.close
		margin-left: auto
		background-color: $ghost
		border: none
		font:
			size: 1.5rem
			weight: $boldWt
		line-height: 1
	&Title
		display: flex
		flex-direction: row
		padding: 5px 8px
	&Capper
		height: 2px
		&Success
			background-color: $success
		&Error
			background-color: $error
		&Warning
			background-color: $warning
		&Info
			background-color: $info
	&Body
		padding: 10px 20px

	&.show
		visibility: visible
		-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s
		animation: fadein 0.5s, fadeout 0.5s 2.5s

	&Bag
		display: flex
		flex-direction: row

		&Image
			flex: 1 1 0
			min-width: 25%
		&Details
			flex: 3 3 0
			p
				margin-top: 0
				margin-bottom: 0
				&:not(:first-child)
					@extends .small

		&Wrapper
			height: 100px
			/* horizontal overflow hidden */
			overflow-x: hidden
			/* V'ertical overflow will turn into a scrollbar when the height is greater than 100 pixels */
			overflow-y: auto

		&Total
			display: flex
			flex-direction: row
			justify-content: space-between
			margin: 1rem 0

		&FreeDelivery
			background-color: $warning

@-webkit-keyframes
	fadein
		from
			bottom: 0
			opacity: 0
		to
			bottom: 30px
			opacity: 1

@keyframes
	fadein
		from
			bottom: 0
			opacity: 0
		to
			bottom: 30px
			opacity: 1

@-webkit-keyframes
	fadeout
		from
			bottom: 30px
			opacity: 1
		to
			bottom: 0
			opacity: 0

@keyframes
	fadeout
		from
			bottom: 30px
			opacity: 1
		to
			bottom: 0
			opacity: 0
