			<!-- Hamburger menu for mobile devices -->
			<input type="checkbox" class="navigationCheckbox" id="naviToggle">
	       	<label class="navigationButton" for="naviToggle">
				<span class="navigationIcon">&nbsp;menu</span>
			</label>
	       	<div class="navigationBackground">
	       		&nbsp;
	       	</div>
    	<div class="mainNav" id="navigationNav">
			<!-- Site navbar -->
			<ul class="navigationList">
				<li class="navigationItem">
					    <menu>
					    <menuitem id="homeLink">
						    <a class="navLink" href="{% url 'home' %}" 
						    		aria-haspopup="true" aria-expanded="false">
						        Home
						    </a>
					</menuitem>
					    </menu>
				</li>
				<li class="navigationItem">
				    <menu>
					    <menuitem>
						    <a class="navLink" href="{% url 'products' %}" id="allProductsLink"
						    		aria-haspopup="true" aria-expanded="false">
						        All Products
						    </a>
						    <menu aria-labelledby="allProductsLink">
						    	<menuitem><a href="{% url 'products' %}?sort=price&direction=asc">By Price</a></menuitem>
						    	<menuitem><a href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></menuitem>
						    	<menuitem><a href="{% url 'products' %}?sort=category&direction=asc">By Category</a></menuitem>
						    	<menuitem><a href="{% url 'products' %}">All Products</a></menuitem>
					    	</menu>
					    </menuitem>
				    </menu>
				</li>
				<li class="navigationItem">
				    <menu>
					    <menuitem>
						    <a class="navLink" href="#" id="clothingLink"
						    		aria-haspopup="true" aria-expanded="false">
						        Clothing
						    </a>
						    <menu aria-labelledby="clothingLink">
						    	<!-- Pass a category parameter to the products URL -->
						    	<!-- These parameters will use the "name" field from the
						    	Category model so we have a programmatic way to access them
						    	Of course we could also use the category id.
								But this makes the URLs a little more semantic which is nice for the user -->
								<!-- The products URL followed by a question mark
								to indicate we're about to pass the category parameter.
								Followed by "activewear"" and "essentials" separated by a comma.
								This syntax ensures we end up with a comma-separated string in the view. -->
						    	<menuitem><a href="{% url 'products'%}?category=activewear,essentials">Activewear & Essentials</a></menuitem>
						    	<menuitem><a href="{% url 'products'%}?category=jeans">Jeans</a></menuitem>
						    	<menuitem><a href="{% url 'products'%}?category=shirts">Shirts</a></menuitem>
						    	<menuitem><a href="{% url 'products'%}?category=activewear,essentials,jeans,shirts">All Clothing</a></menuitem>
					    	</menu>
					    </menuitem>
				    </menu>
				</li>
				<li class="navigationItem">
				    <menu>
					    <menuitem>
						    <a class="navLink" href="#" id="homewareLink"
						    		aria-haspopup="true" aria-expanded="false">
						        Homeware
						    </a>
						    <menu aria-labelledby="homewareLink">
						    	<menuitem><a href="{% url 'products'%}?category=bed_bath">Bed & Bath</a></menuitem>
						    	<menuitem><a href="{% url 'products'%}?category=kitchen_dining">Kitchen & Dining</a></menuitem>
						    	<menuitem><a href="{% url 'products'%}?category=bed_bath,kitchen_dining">All Homeware</a></menuitem>
					    	</menu>
					    </menuitem>
				    </menu>
				</li>
				<li class="navigationItem">
				    <menu>
					    <menuitem>
						    <a class="navLink" href="#" id="specialOffersLink"
						    		aria-haspopup="true" aria-expanded="false">
						        Special Offers
						    </a>
						    <menu aria-labelledby="specialOffersLink">
						    	<menuitem><a href="{% url 'products'%}?category=new_arrivals">New Arrivals</a></menuitem>
						    	<menuitem><a href="{% url 'products'%}?category=deals">Deals</a></menuitem>
						    	<menuitem><a href="{% url 'products'%}?category=clearance">Clearance</a></menuitem>
						    	<menuitem><a href="{% url 'products'%}?category=new_arrivals,deals,clearance">All Specials</a></menuitem>
					    	</menu>
					    </menuitem>
				    </menu>
				</li>
			</ul>
    	</div>
