/*~~~~~~~  Checkout Success  ~~~~~~~*/

.containerCheckoutSuccess
	hr
		margin-top: 1rem
		margin-bottom: 1rem

.checkout
	&Success
		margin-top: 2rem
		width: 100%
		@include respond(desktop)
			width: 60%
			margin-right: auto
		&Title
			text-transform: uppercase
			margin-top: 1.3rem
		&Deals
			width: 100%
			@include respond(desktop)
				width: 60%
				margin-left: auto

.orderConfirmation
	// display: flex
	// flex-direction: column
	&Wrapper
		padding: 1rem
		border: 1px solid $greyHelp
		margin-top: 1.3rem

	&Row
		display: flex
		flex-wrap: wrap
		> p
			margin-bottom: 0
			&:first-child
				flex: 1 1 30%
				font-weight: $boldWt
			&:last-child
				flex: 1 1 70%
				text-align: right

/*===== END  Checkout Success  =====*/
