{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <!-- Allow support of older Internet Explorer versions and 
        eliminate validation errors when validating our HTML -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/56b4ac2d56.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Boutique Ado|{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="headerContainer fixedTop">
    	<div id="topNav" class="linkWrapper">
    		<div class="link linkLogo">
    			<a href="{% url 'home' %}" class="navLink mainLogoLink">
    				<h2 class="logoFont"><strong>Boutique Ado</strong></h2>
    			</a>
    		</div>
    		<div class="link linkSearch">
    			 <!-- Our form will have a method of get, meaning we'll be submitting searches as url parameters -->
    			 <form method="GET" action="">
                    <div class="input-group searchBox">
                         <!-- Text input with the name of q for query - that's what will be submitted to the action url. -->
                        <input class="searchInput" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="btn searchButton" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
    		</div>
    		<!-- Account and shopping bag links -->
    		<div class="link linkAcc">
    			<ul class="linkAccounts">
                    <li>
	                    <div class="linkAccountsDropdown">
	                        <i class="fas fa-user fa-lg accountIcon"></i>
	                        <menu class="topMenu">
	                        	<menuitem>
									<a class="textBlack navLink" id="userOptions">My Account</a>
									<menu>
			                            {% if request.user.is_authenticated %}
				                           {% if request.user.is_superuser %}
			                                    <menuitem><a href="{% url '' %}">Product Management</a></menuitem>
			                                {% endif %}
			                                <menuitem><a href="{% url '' %}">My Profile</a></menuitem>
											<menuitem><a href="{% url 'account_logout' %}">Logout</a></menuitem>
										{% else %}
											<menuitem><a href="{% url 'account_signup' %}">Register</a></menuitem>
											<menuitem><a href="{% url 'account_login' %}">Login</a></menuitem>
										{% endif %}
									</menu>
								</menuitem>
							</menu>
	                    </div>
                    </li>
    				<li>
    		            <a class="{% if grand_total %}grandTotal{% endif %} navLink" href="">
                            <div class="bagSection">
                                <div><i class="fas fa-shopping-bag fa-lg accountIcon"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
    				</li>
    			</ul>
    		</div>
    	</div>
    	<div class="siteNav">
    		{% include 'includes/mobile-top-header.html' %}
    		
    		{% include 'includes/main-nav.html' %}
    	</div>
    	<div id="deliveryBanner">
    		<h4>Free delivery on orders over €{{ free_shipping_threshold }}!</h4>
    	</div>
    </header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    
  </body>
</html>