<div class="toast">
	<div class="arrowUp arrowGreen"></div>
  <div class="toastCapper toastCapperSuccess"></div>
  <div class="toastTitle">
  	<strong>Success!</strong>
    <button class="close" aria-label="Close">
    	&times;
    </button>
  </div>
  <hr>
  <div class="toastBody">
 		{{ message }}
 		<hr>
 		{% if grand_total %}
 			<p>Your Bag ({{ product_count }})</p>
 		<div class="toastBagWrapper">
 			{% for item in bag_items %}
 			<div class="toastBag">
 				<img class="toastBagImage" src="{{ item.product.image_url }}">
 				<div class="toastBagDetails">
 					<p><strong>{{ item.product.name }}</strong></p>
 					<p>Size :  {% if item.product.has_sizes %}{{ item.size|upper }}{% else %}{% endif %}</p>
 					<p>Qty :  {{ item.quantity }}</p>
 				</div>
 			</div>
 			{% endfor %}
 		</div>
 		<div>
 			<strong><p class="toastBagTotal">
 				<span>Total {% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}</span>
 				<span>€{{ total|floatformat:2 }}</span>
 			</p></strong>
 			{% if free_delivery_delta > 0 %}
 				<p class="toastBagFreeDelivery">Spend <strong>€{{ free_delivery_delta }}</strong> more to get free next day delivery!</p>
 			{% endif %}
 			<a href="{% url 'bag' %}" class="btn btnBlack">
 				<span>Go To Secure Checkout</span>
 				<span class="icon"><i class="fas fa-lock"></i></span>
 			</a>
 			
 		</div>
 		{% endif %}
  </div>
</div>